WCAG-21/real-world-documents/In-fa-due-diligence-services.sch

<?xml version="1.0" encoding="utf-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://purl.oclc.org/dsdl/schematron ">

   
    <!-- File: In-fa-due-diligence-services.pdf -->


    <sch:pattern name = "Checking the validationReport: document is not compliant">
        <sch:rule context="/report/jobs/job/validationReport">
            <sch:assert test="(@isCompliant = 'false')">Failed check, Expected: isCompliant=false</sch:assert>
        </sch:rule>
    </sch:pattern>

    <sch:pattern name = "Checking the validationReport: rules">
        <sch:rule context="/report/jobs/job/validationReport/details">
            <sch:assert test="(@failedRules = '2')">Failed check, Expected: 2</sch:assert>	
        </sch:rule>

        <sch:rule context="/report/jobs/job/validationReport/details/rule">
            <sch:assert test="(@clause = '7.21.4.1' and @testNumber = '1' and @failedChecks = '3') or 
            (@clause = '5' and @testNumber = '1' and @failedChecks = '1')">Failed rules, Expected: 
            7.21.4.1-1, 3 checks, or 
            5-1, 1 check</sch:assert>
        </sch:rule>

    </sch:pattern>

</sch:schema>
