WCAG_2_2/wcag-algs-issues/test-document-13.sch

<?xml version="1.0" encoding="utf-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://purl.oclc.org/dsdl/schematron ">

    <!-- Issue# 78 -->
    <!-- https://github.com/veraPDF/veraPDF-wcag-algs/issues/78 -->
    <!-- File: test-document-13.pdf -->


    <sch:pattern name = "Checking the validationReport: document is not compliant">
        <sch:rule context="/report/jobs/job/validationReport">
            <sch:assert test="(@isCompliant = 'false')">Failed check, Expected: isCompliant=false</sch:assert>
        </sch:rule>
    </sch:pattern>

    <sch:pattern name = "Checking the validationReport: rules">
        <sch:rule context="/report/jobs/job/validationReport/details">
            <sch:assert test="(@failedRules = '2')">Failed check, Expected: 2</sch:assert>	
        </sch:rule>

        <sch:rule context="/report/jobs/job/validationReport/details/rule">
            <sch:assert test="(@clause = '4.1.2' and @testNumber = '21' and @failedChecks = '6') or 
            (@clause = '7.1' and @testNumber = '10' and @failedChecks = '1')">Failed rules, Expected: 
            4.1.2-21, 6 checks, or 
            7.1-10, 1 check</sch:assert>
        </sch:rule>

    </sch:pattern>

</sch:schema>
