WCAG-21/wcag-algs-issues/tabel-met-tekst-eronder.sch

<?xml version="1.0" encoding="utf-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://purl.oclc.org/dsdl/schematron ">

    <!-- Issues# 86, 87 -->
    <!-- https://github.com/veraPDF/veraPDF-wcag-algs/issues/86 -->
	<!-- https://github.com/veraPDF/veraPDF-wcag-algs/issues/87 -->
    <!-- File: tabel-met-tekst-eronder.pdf -->


    <sch:pattern name = "Checking the validationReport: document is compliant">
        <sch:rule context="/report/jobs/job/validationReport">
            <sch:assert test="(@isCompliant = 'true')">Failed check, Expected: isCompliant=true</sch:assert>
        </sch:rule>
    </sch:pattern>

</sch:schema>
