WCAG-21/wcag-algs-issues/test-document-10.sch

<?xml version="1.0" encoding="utf-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://purl.oclc.org/dsdl/schematron ">

    <!-- Issue# 74 -->
    <!-- https://github.com/veraPDF/veraPDF-wcag-algs/issues/74 -->
    <!-- File: test-document-10.pdf -->


    <sch:pattern name = "Checking the validationReport: document is not compliant">
        <sch:rule context="/report/jobs/job/validationReport">
            <sch:assert test="(@isCompliant = 'false')">Failed check, Expected: isCompliant=false</sch:assert>
        </sch:rule>
    </sch:pattern>

    <sch:pattern name = "Checking the validationReport: rules">
        <sch:rule context="/report/jobs/job/validationReport/details">
            <sch:assert test="(@failedRules = '5')">Failed check, Expected: 5</sch:assert>
        </sch:rule>

        <sch:rule context="/report/jobs/job/validationReport/details/rule">
            <sch:assert test="(@clause = '4.1.2' and @testNumber = '1' and @failedChecks = '4') or 
            (@clause = '1.4.10' and @testNumber = '1' and @failedChecks = '1') or 
            (@clause = '5' and @testNumber = '1' and @failedChecks = '1') or 
            (@clause = '4.1.2' and @testNumber = '16' and @failedChecks = '8') or
            (@clause = '7.21.4.2' and @testNumber = '2' and @failedChecks = '1')">Failed rules, Expected: 
            4.1.2-1, 4 checks, or 
            1.4.10-1, 1 check, or 
            5-1, 1 check, or 
            4.1.2-16, 8 checks, or
            7.21.4.2-2, 1 check</sch:assert>
        </sch:rule>

    </sch:pattern>

</sch:schema>
