PDF_A-1b/877/6.3.7-02-fail-2.sch

<?xml version="1.0" encoding="utf-8"?>
<sch:schema xmlns:sch="http://purl.oclc.org/dsdl/schematron"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xsi:schemaLocation="http://purl.oclc.org/dsdl/schematron ">

    <!-- Issue# 877 -->
    <!-- https://github.com/veraPDF/veraPDF-library/issues/877 -->
    <!-- File: 6.3.7-02-fail-2.pdf -->


    <sch:pattern>name = "Checking the validationReport: document is not compliant"
        <sch:rule context="/report/jobs/job/validationReport">
            <sch:assert test="(@isCompliant = 'false')">Failed check, Expected: isCompliant=false</sch:assert>
        </sch:rule>
    </sch:pattern>

    <sch:pattern>name = "Checking the validationReport: rules"
        <sch:rule context="/report/jobs/job/validationReport/details">
            <sch:assert test="(@failedRules = '1')">Failed check, Expected: 1</sch:assert>	
        </sch:rule>

        <sch:rule context="/report/jobs/job/validationReport/details/rule">
            <sch:assert test="(@clause = '6.3.7' and @testNumber = '1' and @failedChecks = '1')">Failed rules, Expected: 
            6.3.7-1, 1 check</sch:assert>
        </sch:rule>

    </sch:pattern>

    <sch:pattern>name = "Checking the logs"
        <sch:rule context="/report/jobs/job/logs">
            <sch:assert test="@logsCount = '6'">Failed check, Expected: 6</sch:assert>	
        </sch:rule>

        <sch:rule context="/report/jobs/job/logs/logMessage">
            <sch:assert test='(contains(/, "Value of Differences key is not an array. Ignoring Difference") and @occurrences = "6" and @level = "SEVERE")'>Invalid logs, Expected: 
            'SEVERE: Value of Differences key is not an array. Ignoring Difference' with 6 occurrences</sch:assert>
        </sch:rule>
    </sch:pattern>

</sch:schema>
